@import "tailwindcss";

@theme {
  /* Fonts */
  --font-montserrat: "Montserrat", sans-serif;

  /* Colors */
  --color-primary:      #115945;
  --color-primary-2:    #1b3f35;
  --color-secondary:    #bf9850;
  --color-secondary-2:  #d19c39;
  --color-accent:       #d46a00;
  --color-neutral:      #2f3634;
  --color-neutral-dark: #242424;
  --color-dark:         #0c0c09;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-dark text-gray-100;
  }

  a,
  button {
    @apply cursor-pointer transition-all duration-300;
  }

  .container-1 {
    @apply m-4 px-3 py-6 mx-auto md:max-w-[90%];
  }
}

@layer components {
  /* Botões do sistema */
  .btn {
    @apply bg-gray-500 px-16 py-4 transition-all duration-300 hover:bg-neutral;
  }

  .btn-hero {
    @apply px-30 py-10 border-2 border-secondary rounded-full text-secondary hover:bg-secondary hover:text-black uppercase font-bold;
  }

  .btn-nav {
    @apply bg-secondary hover:bg-white px-12 py-3 rounded-lg text-dark;
  }

  .btn-primary {
    @apply bg-primary px-6 py-3 font-semibold transition-all duration-300 hover:bg-secondary hover:shadow-lg focus:outline-none;
  }

  .btn-secondary {
    @apply bg-secondary text-neutral-dark px-6 py-3 font-semibold transition-all duration-300 hover:bg-accent hover:text-white hover:shadow-lg focus:outline-none;
  }

  .btn-outline {
    @apply border-2 border-primary text-primary px-6 py-3 font-semibold transition-all duration-300 hover:bg-primary hover:text-white focus:outline-none;
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-primary to-secondary px-6 py-3 font-semibold transition-all duration-300 hover:from-secondary hover:to-accent hover:shadow-lg focus:outline-none;
  }

  .btn-app {
    @apply px-9 py-3 bg-primary rounded-md hover:bg-white hover:text-dark;

    /* Regra de responsividade do tamanho dos botoes baseada nos breakpoints */
    @apply px-2.5 py-1.5 text-xs sm:px-4 sm:py-2 sm:text-sm md:px-6 md:py-2.5 font-semibold transition-all whitespace-nowrap;
  }

  /* Tipografia */
  h1,
  .h1 {
    @apply uppercase text-4xl md:text-6xl font-bold;
  }

  h2,
  .h2 {
    @apply text-2xl md:text-3xl uppercase font-semibold;
  }

  .text {
    @apply text-base md:text-lg leading-relaxed;
  }

  .link-a {
    @apply hover:underline;
  }

  .highlight-card {
    @apply flex flex-col p-6 min-h-40 border-l-2 border-accent shadow-lg/40 rounded-md shadow-accent transition-all duration-300 flex-none w-[85vw] max-w-[320px] snap-start lg:w-auto lg:max-w-none;
  }

  /* Variacao de fundo primario */
  .highlight-card-primary {
    @apply bg-primary hover:bg-primary-2;
  }

  /* Variacao de fundo secundario */
  .highlight-card-secondary {
    @apply bg-secondary hover:bg-primary-2;
  }

  .service-card {
    @apply bg-secondary h-50 md:h-80 p-6 flex flex-col justify-between transition-all;
  }

  .service-card-header {
    @apply flex flex-col gap-4;
  }

  .service-card-icon {
    @apply w-8 h-8;
  }

  .service-card-title {
    @apply text-2xl font-bold uppercase;
  }

  .service-card-description {
    @apply text-sm line-clamp-4;
  }
}

@layer utilities {
  /* Oculta a barra de rolagem em navegadores baseados em Webkit e Firefox */

  .separador {
    @apply border-t border-gray-300 w-full;
  }

  /* Gradientes de fundo horizontais */

  /* Gradientes verticais de baixo para cima (bottom to top) por cor */

  .bg-gradient-t-dark {
    @apply bg-linear-to-t from-dark from-10% to-transparent;
  }

  .bg-gradient-r-dark {
    @apply bg-linear-to-r from-dark from-10% to-transparent;
  }

  /* Bordas sólidas e interativas */


  /* Utilitários de animação */
}
